includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    phpVersion: 80300
    paths:
        - src
        - debug-bar-console.php
    excludePaths:
        - compat.php
    bootstrapFiles:
        - tests/bootstrap.php
        - compat.php
